extends layout

block content
  .jumbotron
    h1= title
    p Welcome to #{title}
  
  .container What do you want to be tested on?
    ul
      li: a(href="/verbs") Verbs
      li: a(href="/nouns") Nouns
