extends layout

block content

  .jumbotron
    h1= title
    p Ok let's test our knowledge of #{title}
  
  .container-fluid
    .row(data-bind="visible: questionNumber() < questionList().length")
      .col-md-6 The translation of "
        span(data-bind="text: currentQuestion.english")
        span " is  
        .input-group
          input.form-control#inputItalian(type="text", autocomplete="off", data-bind="value: currentQuestion.italian, valueUpdate: 'afterkeydown'", placeholder="Italian", name="Italian") 
          span.input-group-btn
            button.btn.btn-default#btnSubmit(type="submit", data-bind="enable: currentQuestion.italian().length > 0") submit

    .row
      .col-md-6 So far you have got 
        span(data-bind="text: correctAnswers().length") 
        span  questions correct out of a total of 
        span(data-bind="text: answers().length")

      .col-md-6
        span.largePercent(data-bind="text: percentCorrect")

    .row
      .col-md-12
        section#unseen
          table.table.table-bordered(data-bind="visible: answers().length > 0")
            thead
              tr
                th English Phrase
                th Your Translation
                th Correct Translation
                th Correct?
            tbody(data-bind="foreach: answers")
              tr(data-bind="css: { success: correct==true, warning: correct==false }")
                td
                  span(data-bind="text: question")
                td
                  span(data-bind="text: answer")
                td
                  span(data-bind="text: correctAnswer")
                td
                  span(data-bind="text: correct, style: { color: correct==true ? 'green' : 'red' }")

block scripts

  script(src="/javascripts/knockout-latest.js")
  script(src="/javascripts/main.js")
