extends layout

block content
  h1= title
  p Ok let's test our knowledge of #{title}
  
  div
    div The translation of "#{words[whichWord].English}" is  
        input#inputItalian(type="text", placeholder="Italian", name="Italian") 
        input#inputIndex(type="hidden", name="Index", value="#{whichWord}")
        button#btnSubmit(type="submit") submit

    div(data-bind="visible: shouldShowMessage") Your answer was 
        strong(data-bind="text: answer") 
        span , the correct answer was 
        strong(data-bind="text: correctAnswer")

    script(src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js")
    script(src="/javascripts/knockout-latest.js")
    script(src="/javascripts/main.js")

