extends layout

block content

  nav.navbar-wrapper.navbar-default.navbar-fixed-top(role="navigation")
    .container
      <!-- Brand and toggle get grouped for better mobile display -->
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Node Italia

      <!-- Collect the nav links, forms, and other content for toggling -->
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.active: a(href="#"): span.glyphicon.glyphicon-home Home
          li: a(href="#"): span.glyphicon.glyphicon-star Verbs
          li: a(href="#"): span.glyphicon.glyphicon-star Nouns
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown"): span.glyphicon.glyphicon-user About Us
              b.caret
            ul.dropdown-menu
              li: a(href="#") Company Details
              li: a(href="#") Contact Us


  .jumbotron
    h1= title
    p Ok let's test our knowledge of #{title}
  
  .container-fluid
    .row
      .col-md-12 The translation of "
        span(data-bind="text: currentQuestion.english")
        span " is  
        input#inputItalian(type="text", data-bind="value: currentQuestion.italian, valueUpdate: 'afterkeydown'", placeholder="Italian", name="Italian") 
        button#btnSubmit(type="submit", data-bind="enable: currentQuestion.italian().length > 0") submit

    .row
      .col-md-6 So far you have got 
        span(data-bind="text: correctAnswers().length") 
        span  questions correct out of a total of 
        span(data-bind="text: answers().length")

      .col-md-6
        span.largePercent(data-bind="text: percentCorrect")

    .row
      .col-md-12
        section#unseen
          table.table.table-bordered(data-bind="visible: answers().length > 0")
            thead
              tr
                th English Phrase
                th Your Translation
                th Correct Translation
                th Correct?
            tbody(data-bind="foreach: answers")
              tr(data-bind="css: { success: correct==true, warning: correct==false }")
                td
                  span(data-bind="text: question")
                td
                  span(data-bind="text: answer")
                td
                  span(data-bind="text: correctAnswer")
                td
                  span(data-bind="text: correct, style: { color: correct==true ? 'green' : 'red' }")

  script(src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js")
  script(src="/javascripts/knockout-latest.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="/javascripts/main.js")
